@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}


<div class="row" style="margin-top: 20px;">

    <div class="col-md-12 text-center" style="margin-bottom: 20px;">

        <svg data-logo data-from="1.0" data-to="1.0" xmlns="http://www.w3.org/2000/svg" height="200" width="200" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" viewBox="0 0 454 454" enable-background="new 0 0 454 454" xml:space="preserve">
            <path stroke="#296ad4" fill="#296ad4" stroke-width="2" stroke-miterlimit="10" d="M121.8,355.8c-2.9-4.9-7.5-8-11.1-12.3  c-5.1-5.9-9.7-12.3-13.7-18.9c-17.7-29.2-23.5-62.3-19-95.9c0.3-2.5,1.4-5.2,2.1-7.7c-7.5-3.9-13.7-10.2-17.5-17.8  c-1.6-3.1-2.7-6.5-3.6-9.9c-0.9-3.6-1.5-7.4-1-11.1c1.6-10.6,12.8-17.7,23.5-18.5c4.7-0.3,9.8,0.4,13.2,3.6c4.5,4.3,3.8,11.4-2,12.4  c-6.8,1.2-13.3-6.8-20.2-1c-2.2,1.9-3.3,4.9-2.8,7.8c0.7,3.8,4,6.6,7.6,7.9c3.6,1.3,7.5,1.2,11.3,1.2c7.8-0.1,12.3-10.2,17-15.4  c5.9-6.6,12.4-12.7,19.3-18.2c14.2-11.4,30.2-20.4,47.3-26.6c15.3-5.5,31.6-9.3,47.9-9.9c15.1-0.6,30.3,6.5,45.1,4.9  c9-0.9,15-9.4,22.7-13.8c11.4-6.6,26.9-5.4,37.1,2.9c2.5,2,4.8,5.5,3.1,8.2c-4.1,6.6-16.2-2.6-22.2,6c-7.9,11.3,8.1,21.5,15.4,27.6  c5.8,4.9,10.8,10.9,14.1,17.7c2.6,5.4,2.7,18.8,9.7,20.1c9.5,1.9,13.9-5.9,21.7-8.8c14.5-5.3,22.1,22.3,24.6,32  c2.1,8.4,4.3,20.2-1.4,27.7c-5,6.6-13.9,9.7-21.3,12.7c-4.2,1.7-7.6,1.7-7,5.9c0.9,5.1,18.8,12.8,13,20.1c0,0-2.7,3.3-4.7,4  c-13.9,4.6-24.5,6.1-34.1,18.6c-5.6,7.4-10.1,15.6-16.2,22.6c-4.9,5.6-6.6,13.3-3.8,20.4c0.4,1,1,2,1.6,2.9" />
            <g fill="#296ad4">
                <circle fill="none" stroke="#296ad4" stroke-width="34" stroke-miterlimit="10" cx="227.2" cy="226.8" r="207.5" />
                <rect x="71" y="335.5" stroke="#296ad4" stroke-width="2.5953" stroke-miterlimit="10" width="313.5" height="46.5" />
                <rect x="115.5" y="377.5" stroke="#296ad4" stroke-width="2.5953" stroke-miterlimit="10" width="221" height="40.5" />
            </g>
        </svg>
        
        <svg style="position: absolute;margin-left: -200px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
            <g id="Grid_1_">
                <g id="Layer_1_1_">
                    <g id="Grid">
                    </g>
                </g>
            </g>
            <path fill="#cc0000" d="M0,256c0,141.385,114.615,256,256,256c141.386,0,256-114.615,256-256S397.386,0,256,0C114.615,0,0,114.615,0,256z M448,256  c0,36.618-10.256,70.84-28.044,99.956L156.045,92.044C185.16,74.255,219.382,64,256,64C362.038,64,448,149.961,448,256z M64,256  c0-36.618,10.256-70.839,28.045-99.956l263.911,263.912C326.839,437.745,292.618,448,256,448C149.962,448,64,362.039,64,256z" />
        </svg>

    </div>
    <div data-fade-in class="col-md-12 text-center">

        <hgroup>
            <h1 class="text-danger">This account has been locked out, please try again later.</h1>
        </hgroup>

        @Html.ActionLink("Back to log in page", "Login", "Account", new { @class = "btn btn-link" })

    </div>
</div>


