@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}


<div class="row">

    <div class="col-md-12 text-center" style="margin-bottom: 20px;">

        <div id="icon" data-logo="18" style="width:18%;min-width: 220px;">
            <object>
                <img src="~/Content/images/logo.svg" id="svg" />
            </object>
        </div>

    </div>
    <div data-fade-in class="col-md-12 text-center">

        <hgroup>
            <h1 class="text-danger">This account has been locked out, please try again later.</h1>
        </hgroup>

        @Html.ActionLink("Back to log in page", "Login", "Account", new { @class = "btn btn-link" })

    </div>
</div>


