@using BudgetApp.Extensions
@model BudgetApp.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="row" ng-controller="homeController" style="margin-top:30px;">



    @if (Model.Transactions.Count == 0)
    {

        <div class="jumbotron text-center" fade-in="500" style="margin-top:-40px;background-color:white;">

            <h1>Welcome to BudgetApp!</h1>
            <br />
            <p style="font-size: 18px;;">
                This is the dashboard page.
                <br /><br />
                Here you will see graphical charts based on the transactions you have added.                
            </p>
            <br />
            <img src="../../Content/images/screenshots/dashboard.PNG" alt="" height="400" style="border:2px solid #0094ff;" />
            <p>Here's an example of how this page might look like.</p>



        </div>

    }
    else
    {
        <div class="row">
            <div class="col-xs-12 col-lg-6 text-center">
                <h3>All transactions</h3>

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-highchart="{{model.drilldownGraphTot}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-highchart="{{model.drilldownGraphTot}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-highchart="{{model.drilldownGraphTot}}"></span>

            </div>
            <div class="col-xs-12 col-lg-6 text-center">
                <h3>Year-To-Date</h3>

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-highchart="{{model.drilldownGraphYtd}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-highchart="{{model.drilldownGraphYtd}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-highchart="{{model.drilldownGraphYtd}}"></span>

            </div>

        </div>

        <hr />

        <div class="row">

            <div class="col-xs-12 col-lg-6">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

            </div>

            <div class="col-xs-12 col-lg-6">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-prog-highchart="{{model.prognosisChart}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-prog-highchart="{{model.prognosisChart}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-prog-highchart="{{model.prognosisChart}}"></span>

            </div>

        </div>

        <hr />

        <div class="row">

            <div class="col-xs-12">
                <span style="height:400px;width:1160px !important;" class="visible-lg" data-treemap-chart="{{model.treemapChart}}"></span>
                <span style="height:400px;width:923px !important;" class="visible-md" data-treemap-chart="{{model.treemapChart}}"></span>
                <span style="height:400px;width:565px !important;" class="visible-sm" data-treemap-chart="{{model.treemapChart}}"></span>
                <span style="height:400px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-treemap-chart="{{model.treemapChart}}"></span>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 text-center">

                <span style="height:400px;width:1160px !important;" class="visible-lg" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                <span style="height:400px;width:923px !important;" class="visible-md" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                <span style="height:400px;width:703px !important;" class="visible-sm" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                <span style="height:400px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

            </div>

        </div>

    }


</div>

<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('homeViewModel', function() {

            return {
                model:@Html.Raw(Model.ToJson())
                };

        });

    })();
</script>