@using BudgetApp.Extensions
@model BudgetApp.Models.Transaction
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    
    @Html.DropDownGroupListFor(m => m.Category, Dropdownlist.GroupedCategories(Model.Category.ToString()), " ", new { @class = "form-control" })

</div>