
@{
    ViewBag.Title = "Dashboard";
}

<div>
    
    <div class="row">
        
        <div class="col-xs-12 text-center" style="height: 500px;padding-top: 150px;">
            
            <h2>No transactions found...add your first transaction @Html.ActionLink("here","Create","Transactions",null,null)</h2>
            
        </div>
       
    </div>

</div>