@using BudgetApp.Extensions
@model BudgetApp.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<script src="~/js/directives/GraphDirectives.js"></script>

<div ng-controller="dashboardController">

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6">

            <span style="padding:0;padding-right:5px;font-size: 16px;width:140px;">
                <a data-set-date="All">All transactions</a>
                <span class="sep">|</span>
                <a set-date-year="year" ng-repeat="year in years">{{year}}</a>
                <a data-set-date="Month" class="active">Current month</a>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 text-right">
            <span style="padding:0;width:140px;" class="dropdown-left">
                <input ng-click="open($event)" type="text" name="FromDate" id="FromDate" ng-change="refreshBtn()" class="datepicker text-center" datepicker-popup="{{format}}" max-date="model.toDate" ng-model="model.fromDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            </span>

            <span style="padding:0;width:140px;" class="dropdown-left">
                <input ng-click="open2($event)" type="text" name="ToDate" id="ToDate" ng-change="refreshBtn()" class="datepicker text-center" datepicker-popup="{{format}}" ng-model="model.toDate" is-open="opened2" min-date="model.fromDate" max-date="today" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            </span>
            <button set-date-inactive id="refreshBtn" ng-disabled="disableRefresh" class="btn btn-primary btn-xs" ng-click="submit()"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>

    </div>

    <div class="row" style="margin-top: 20px;" ng-hide="error">
        <div class="col-xs-12 text-center">
            <span style="font-size: 20px;" class="text-danger {{model.variables.balance > 0 ?'text-success':'text-danger'}}"><i class="glyphicon glyphicon-transfer"></i> {{model.variables.balance | currencyFormatter}}</span>
        </div>
    </div>

    <div class="row" style="margin-top:20px;" ng-hide="error">        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-highchart-reload ng-model="model.variables.transactionGraph"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-spc-reload ng-model="model.variables.balanceGraph"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-treemap-reload ng-model="model.variables.treemapChart"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-spc-reload ng-model="model.variables.categoryGraph"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-frequency-reload ng-model="model.variables.frequency"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-spc-reload ng-model="model.variables.dailyGraph"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" data-burn-rate-reload ng-model="model.variables.mountainGraph"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-graph" style="min-height: 302px;padding-top: 5px;">
            

            <div style="font-size: 18px;text-align: center;">Average expense</div>

            
            <table class="borderless-table">
                <tr>
                    <td>Daily</td>
                    <td>{{model.variables.dailyExpense | currencyFormatter}}</td>
                </tr>
                <tr>
                    <td>Weekly</td>
                    <td>{{(model.variables.dailyExpense * 7) | currencyFormatter}}</td>
                </tr>
                <tr>
                    <td>Monthly</td>
                    <td>{{(model.variables.dailyExpense * 365 / 12) | currencyFormatter}}</td>
                </tr>
                <tr>
                    <td>Annual</td>
                    <td>{{(model.variables.dailyExpense * 365) | currencyFormatter}}</td>
                </tr>
            </table>

        </div>
    </div>
    
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-4">
            <hr />
        </div>
        <div class="col-xs-4 text-center">
            <h3 style="margin-top:6px;">Additional info about current year</h3>
        </div>
        <div class="col-xs-4">
            <hr />
        </div>
    </div>


    <div class="row" style="margin-top: 30px;">        
        <div class="col-xs-12 col-md-6 col-lg-3 col-graph" data-burn-rate-reload ng-model="model.burnGraph"></div>
        <div class="col-xs-12 col-md-6 col-lg-3 col-graph" data-spc-reload ng-model="model.spcGraph"></div>
        <div class="col-xs-12 col-md-6 col-lg-3 col-graph" data-prog-highchart-reload ng-model="model.prognosisIncomeChart"></div>
        <div class="col-xs-12 col-md-6 col-lg-3 col-graph" data-prog-highchart-reload ng-model="model.prognosisChart"></div>        
    </div>
    <div class="row" style="margin-top: 20px;" ng-show="error">
        <div class="alert alert-danger text-center" style="font-size:18px;">
            <i class="glyphicon glyphicon-warning-sign"></i> Something went wrong! Try again!
        </div>
    </div>
</div>
<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('dashboardService', ['$http',function($http) {

            var refresh = function(model) {
                return $http.get('@Url.Action("Refresh", "Dashboard")', { params: { from: model.fromDate, to: model.toDate } });
            };

            return {
                model:@Html.Raw(Model.ToJson()),
                refresh: refresh
            };

        }]);

        angular.module('budgetApp').controller('dashboardController', ['$scope','$timeout','dashboardService',function($scope,$timeout,dashboardService) {

            if (dashboardService.model === null)
                return false;


            $scope.model = dashboardService.model;

            
            $scope.first = new Date(dashboardService.model.first);
            $scope.last = new Date(dashboardService.model.toDate);

            $scope.error = false;

            $scope.disableRefresh = true;

            $scope.refreshBtn = function() {
                $scope.disableRefresh = false;
            };

            $scope.years = [];

            for (var i = $scope.first.getFullYear(); i <= $scope.last.getFullYear(); i++) {
                $scope.years.push(i);
            }

            $scope.spinner = false;

            $scope.submit = function() {
                $scope.spinner = true;
                $scope.error = false;
                dashboardService.refresh($scope.model)
                    .success(function(data) {
                        $scope.model.variables = data;
                        $scope.spinner = false;
                    })
                    .error(function() {
                        $scope.error = true;
                    });
                $scope.disableRefresh = true;
            };

            //Datepicker

            $scope.today = new Date();

            $scope.opened = false;
            $scope.opened2 = false;

            $scope.open = function ($event) {
                $event.preventDefault();
                $event.stopPropagation();
                $scope.opened2 = false;
                $scope.opened = true;
            };

            $scope.open2 = function ($event) {
                $event.preventDefault();
                $event.stopPropagation();
                $scope.opened = false;
                $scope.opened2 = true;
            };

            $scope.dateOptions = {
                formatYear: 'yy',
                startingDay: 1
            };

            $scope.formats = ['yyyy-MM-dd', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate','MMMM d, y'];
            $scope.format = $scope.formats[4];

            $scope.disabled = function (date, mode) {
                return (mode === 'day' && (date.getDay() === 0 || date.getDay() === 6));
            };

        }]);

    })();
</script>