@using BudgetApp.Extensions
@model BudgetApp.Models.Transaction

@{
    ViewBag.Title = "Transactions";
}

<div class="row" style="margin-top:30px;" ng-controller="deleteTransactionController">

    <div class="col-xs-12">

        <div class="col-md-12 text-center">

            <div id="icon" data-logo="18" style="width:18%; min-width: 220px;min-height:50px;">
                <i class="glyphicon glyphicon-remove" style="font-size: 64px;position: absolute;z-index: 10;color:red;margin-top: -5px;opacity: 0.6"></i>
                <img class="mapping-image" ng-src="{{getIcon(model.category)}}" alt="mapping" title="{{model.category}}" />
                
            </div>
        </div>

        <h3 class="text-center">Are you sure you want to delete this transaction?</h3>
        <div class="row text-center" style="margin-top: 40px;">

            <div class="col-xs-12">

                <div class="col-xs-6 col-lg-offset-3 well well-sm text-left">

                    <strong>Date</strong>
                    <br />
                    {{model.date | date}}

                    <br />
                    <br />
                    
                    <strong>Amount</strong>
                    <br />
                    <span>{{model.amount }}</span>

                    <br />
                    <br />

                    <strong>Category</strong>
                    <br />
                    <span>{{model.category | camelCaseToNormal}}</span>

                    <br />
                    <br />

                    <strong>Text description</strong>
                    <br />
                    {{model.description}}

                </div>


            </div>
        </div>
        <div class="row text-center">

            <div class="col-xs-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Cancel", "Index")
                }
            </div>

        </div>
    </div>

</div>


<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('deleteTransactionModel', function() {

            return {
                model: @Html.Raw(Model.ToJson())
            };

        });

    })();
</script>