@{
    ViewBag.Title = "Import Transactions";
}

<div style="margin-top: 60px;">

    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12">
            

            @using (Html.BeginForm("Upload", "Transactions", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-member">                    
                    <div class="col-xs-12">
                        <input type="file" name="file" id="file" class="form-control" style="width: 280px;" />
                    </div>
                </div>
                <br />
                <div class="form-member">                                           
                    <div class="col-xs-12">
                        <input style="width:300px;" type="submit" name="Submit" id="Submit" class="btn btn-primary" value="Upload" />
                    </div>
                </div>

            }
        </div>
    </div>
</div>