@{
    ViewBag.Title = "Confirm Email";
    Layout = "";
}

<html>
    <head>
        <title>BudgetApp</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <div class="row" style="margin-top: 30px;">

                <div class="col-md-12 text-center">

                    <div id="icon" style="width:40%;min-width: 150px;margin-left:auto;margin-right:auto;">
                        <object>
                            <img src="~/Content/images/logo.svg" id="svg" />
                        </object>
                    </div>

                </div>
            </div>

            <div class="row">


                <h3 class="text-center" style="font-weight: bold;" >Thank you for confirming your email.</h3>


            </div>
        </div>
    </body>
</html>