@{
    ViewBag.Title = "Confirm Email";
}

<div class="row" ng-controller="loginController" style="margin-top: -70px;">

    <div class="col-md-12 text-center">

        <div id="icon" data-logo="40" style="width:40%;min-width: 200px;">
            <object>
                <img src="~/Content/images/logo.svg" id="svg" />
            </object>
        </div>

    </div>
</div>

<div class="row">


    <div class="alert alert-success text-center">Thank you for confirming your email.</div>

    <div class="col-xs-12 text-center">
        @Html.ActionLink("Click here to Log in", "Login", "Account", new { @class = "text-center" })
    </div>

</div>