@{
    ViewBag.Title = "Forgot Password Confirmation";
}



<div class="row" style="margin-top: -30px;">

    <div class="col-md-12 text-center">

        <div id="icon" data-logo="18" style="width:40%; min-width: 220px;">
            <object>
                <img src="~/Content/images/logo.svg" id="svg" />
            </object>
        </div>

    </div>
    
    <div class="see-after col-md-12 text-center" style="opacity: 0;">
        <h4>Please check your email to reset your password.</h4>
        
        @Html.ActionLink("Return to log in page", "Login", "Account", new { @class="btn btn-link" })

    </div>
</div>
<script>
    (function() {

        $('.see-after')
            .delay(300)
            .velocity('fadeIn', {
                duration: 500
            });
    })();
</script>

