.filter.ng-hide-remove {
    -webkit-animation: zoomIn 0.8s;
    -moz-animation: zoomIn 0.8s;
    -ms-animation: zoomIn 0.8s;
    -o-animation: zoomIn 0.8s;
    animation: zoomIn 0.8s;
}

/*.filter.ng-hide-add {
    -webkit-animation: zoomOut 0.1s;
    -moz-animation: zoomOut 0.1s;
    -ms-animation: zoomOut 0.1s; 
    -o-animation: zoomOut 0.1s;
    animation: zoomOut 0.1s;
}*/