/*Header*/

#flex-header {
    display: flex;
    top: 0;
    width: 100%;
    padding: 3px;
    padding-left: 5px;
    position: fixed;
    background: #0094ff;
    z-index: 100;
    height: 42px;
    flex-wrap: wrap;
    flex-direction: row;
}

#flex-header #header-logo {
    flex-grow: 10;    
}

#header-search {
    flex-grow: 1;    
}

#header-search  input{
    width: 100%;
    padding: 8px;
    border: none;
    padding-left: 30px;
}

#header-search  i{
    position: absolute;
    font-size: 22px;
    color: #c0c0c0;
    padding-top: 6px;
    padding-left: 4px;
}
#header-profile {
    flex-grow: 1;
    text-align: right;
    padding-right: 3px;
}

#header-profile a,
#header-profile a span.caret {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#header-profile a {
    
    text-decoration: none;
    color: #fff;
}

#header-profile a span.caret {
    border-top:4px solid #fff;
}

#header-profile:hover a span.caret {
    border-top:4px solid #034371;
}

#header-profile:hover {
    cursor: pointer;
}

#header-profile:hover a {
    color: #034371;
}

#header-profile a img {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border:2px solid #0094ff;
    margin-top: -2px;
}

#header-profile:hover a img {
    border:2px solid #034371;
}

#header-profile ul {
    display: block;
    list-style-type: none;
    text-align: left;
    margin-top: 2px;
    margin-left: 3px;
    padding-left: 0;
    background: #fff;
    border: 1px solid #0094ff;
}

#header-profile ul li a{
    display: block;
    color: #0094ff;
    padding: 10px;
}

#header-profile ul li:hover{
    background: #ececec;
}

#header-profile ul li a i{
    display: block;
    color: black;
}

#header-profile ul li.divider{
    border-bottom: 1px solid #c0c0c0;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #header-search,#logoText {
        display: none;
    }
}


/*Sidebar*/
.sidebar {
    float: left;
    height: 100%;
    top: 42px;
    width:225px;
    background: #313131;    
    position: fixed;
    left: 0;
    z-index: 1000;
}

.sidebar > ul > li{
    color: #fff;
    padding-left: 13px;
    font-size: 13px;
}

.sidebar > ul > li{
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidebar > ul > li > i{
    font-size: 20px;
}

.sidebar > ul > li.active,.sidebar > ul > li.active:hover{
    background: #00bfff;
    cursor: auto;
}

.sidebar > ul >li.divider {
    padding: 0px;
    border-bottom: 1px solid #838383;
}

.sidebar > ul > li:hover{
    background: #636363;
    cursor: pointer;
}

.sidebar-text {
    vertical-align: super;
    padding-left: 10px;
}

.sidebar.shrink > ul > li > .sidebar-text {
    display: none;
}

.sidebar.shrink {
    width:48px;
}

/*Content*/

.flex-container {
    flex-grow: 1;
    /*flex-direction: row;
    display: flex;*/
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.flex-container.shrink {
    padding-left: 50px;
}

.flex-container.no-shrink {
    padding-left: 225px;
}

.col-graph {
    border: 1px solid #ececec;
    padding: 0;
}

.dropdown-left > .dropdown-menu {
    margin-left: -164px;
}

.tiny {
    background: #626262 !important;
}

.tiny.active {
    background: #d44f4f !important;
}

.tiny > .sidebar-text{
    font-size: 10px !important;
    padding-left: 20px;
    vertical-align: middle;
    color: #c0c0c0;
}

.tiny.active > .sidebar-text{
    color: #fff;
}
.tiny > i {
    font-size: 14px !important;
    padding-left: 3px !important;
    color:#c0c0c0 !important;
}

.tiny.active > i {
    color:#fff !important;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: -1;
}

.pagination {
    margin-bottom: 0;
    margin-top: 0;
}

.new-today {
    float: left;
    position: absolute;
    margin-left: -45px;
    margin-top: 2px;
}

.ignore-table > ul >li >div> table > thead > tr >th,.ignore-table > ul >li >div> table > tbody > tr > td{
    padding: 0px !important;
    
}

.fixed-width > td:first-child,.fixed-width > th:first-child{
    width: 50px;
    min-width: 50px;
}

.fixed-width > td:nth-child(5),.fixed-width > th:nth-child(5){
    width: 100px;
    min-width: 100px;
}

.form-row > td:nth-child(5) > input{
    width: 88px !important;
    min-width: 88px !important;
    height: 34px;
}

.fixed-width > td:nth-child(6),.fixed-width > th:nth-child(6){
    width: 200px !important;
    min-width: 200px;
}

.form-row > td:nth-child(6) > select{
    width: 170px !important;
    min-width: 170px !important;
    height: 34px;
}

.fixed-width > td:nth-child(7),.fixed-width > th:nth-child(7){
    width: 700px;
    min-width: 700px;
}

.form-row > td:nth-child(7) > input{
    width: 680px !important;
    min-width: 680px !important;
    height: 34px;
}

.form-row > td:nth-child(8) > span > input{
    width: 100px !important;
    min-width: 100px !important;
}