body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.placeholder-text{
    color: white;
}
.notification-warnings {
    opacity: 0;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.strength-1:before {
    content: url('images/strength_1.svg');
    margin-left: -77px;
}

.strength-2:before {
    content: url('images/strength_2.svg');
    margin-left: -77px;
}

.strength-3:before {
    content: url('images/strength_3.svg');
    margin-left: -77px;
}

.strength-4:before {
    content: url('images/strength_4.svg');
    margin-left: -77px;
}

.label-validator {
    margin-right: auto !important;
    margin-left: auto;
    text-align: center !important;
    position: absolute !important;
}

.label-validator.text-danger::after {            
    content: url('images/danger.svg');
}

.label-validator.text-success::after {
    content: url('images/success.svg');
}

.label-validator.text-info::after {
    content: url('images/gears.svg');
}

.label-validator.user-exist::after {
    content: url('images/stop.svg');    
}

.label-validator.text-danger.ng-hide-remove, .label-validator.text-success.ng-hide-remove {
    animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -ms-animation: zoomIn 0.5s;
    -webkit-animation: zoomIn 0.5s;
}


.checkmark {
  stroke: green;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#icon {
    width: 30%;
    margin: auto;
    display: block;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand > img {
    height: 50px;
    width: auto;    
}

.navbar-inverse {
  background-color: #296ad4;
  border: 0;
}

.nav > li > a {
    color: white !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-brand.active, .navbar-brand.active:hover  {
    color: #296ad4 !important;
    background-color: white;
}

.container > .row {
    margin-top: 60px;
}

.btn-xlg {
    font-size: 30px;
    margin-top: 10%;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.square {
    color: #777;
    min-height: 230px;
    border: 1px solid #ececec;
}

.label-big {
    font-size: 20px;
}

.placeholder {
    min-width: 100%;
    border-top: 1px solid #ececec;
    background: white;
    padding: 8px;
    height: 300px;
}

.toggle-transactions {
    border: 1px solid #ececec;
    padding: 10px;
    color: #777;
    border-radius: 4px;
}

.toggle-transactions:hover {
    cursor: pointer;
    color: #313131;
    border-color: #313131;
}

.link {
    padding: 5px 5px;
}

.table-same-width > thead > tr > th:first-child, .table-same-width > tbody > tr > td:first-child {
    text-align: left;
    padding-left: 15px;
}

.table-same-width > thead > tr > th:last-child, .table-same-width > tbody > tr > td:last-child {
    text-align: right;
}

.table-same-width > thead > tr > th, .table-same-width > tbody > tr > td {
    width: 20px;
    text-align: center;
}

.delete-link:hover {
    color: red;
}

.highcharts-background {
    fill: none !important;
}