body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.placeholder-text{
    color: white;
}
.notification-warnings {
    opacity: 0;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.strength-1:before {
    content: "Weak!";
    font-weight: normal;
    color: pink;
}

.strength-2:before {
    content: "OK!";
    font-weight: normal;
    color: #f5e79e;
    margin-left: -15px;
}

.strength-3:before {
    content: "Strong!";
    font-weight: normal;
    color: #c8e5bc ;
}

.strength-4:before {
    content: "Very strong!";
    font-weight: normal;
    color: #3c763d ;
    margin-left: 40px;
}

.label-validator {
    margin-right: auto !important;
    margin-left: auto;
    text-align: center !important;
    position: absolute !important;
}

.label-validator.text-danger::after {            
    content: url('images/danger.svg');
}

.label-validator.text-success::after {
    content: url('images/success.svg');
}

.label-validator.text-info::after {
    content: url('images/loading.svg');
}

.label-validator.user-exist::after {
    content: url('images/stop.svg');    
}

.label-validator.text-danger.ng-hide-remove, .label-validator.text-success.ng-hide-remove {
    animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -ms-animation: zoomIn 0.5s;
    -webkit-animation: zoomIn 0.5s;
}
