
<select class="form-control" ng-model="">
    <option value=""> </option>
    <optgroup label="Fixed" value="Fixed">
        <option value="DebtReduction">Debt reduction</option>
        <option value="Dental">Dental</option>
        <option value="Insurance">Insurance</option>
        <option value="Medical">Medical</option>
        <option value="OtherFixed">Other fixed</option>
    </optgroup>
    <optgroup label="Food" value="Food">
        <option value="Groceries">Groceries</option>
        <option value="Restaurant">Restaurant</option>
        <option value="Treats">Treats</option>
        <option value="OtherFood">Other food</option>
    </optgroup>
    <optgroup label="Income" value="Income">
        <option value="Salary">Salary</option>
        <option value="OtherIncome">Other income</option>
    </optgroup>
    <optgroup label="Personal" value="Personal">
        <option value="Appearance">Appearance</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Gifts">Gifts</option>
        <option value="Hobby">Hobby</option>
        <option value="Phone">Phone</option>
        <option value="Subscriptions">Subscriptions</option>
        <option value="Travel">Travel</option>
        <option value="OtherPersonal">Other personal</option>
    </optgroup>
    <optgroup label="Saving" value="Saving">
        <option value="Saving">Saving</option>
    </optgroup>
    <optgroup label="Shelter" value="Shelter">
        <option value="Furniture">Furniture</option>
        <option value="Interior">Interior</option>
        <option value="Mortgage">Mortgage</option>
        <option value="Rent">Rent</option>
        <option value="Utilities">Utilities</option>
        <option value="OtherShelter">Other shelter</option>
    </optgroup>
    <optgroup label="Transport" value="Transport">
        <option value="Car">Car</option>
        <option value="CollectiveTransport">Collective transport</option>
        <option value="OtherTransportation">Other transport</option>
    </optgroup>
</select>